<!-- 
  <div>
    <h2>Añadir Cliente</h2>
    <form (ngSubmit)="agregarCliente()">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="nuevoCliente.nombre" required>

      <label for="apellidos">Apellidos:</label>
      <input type="text" id="apellidos" [(ngModel)]="nuevoCliente.apellidos" required>

      <label for="telefono">Teléfono:</label>
      <input type="text" id="telefono" [(ngModel)]="nuevoCliente.telefono" required>

      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="nuevoCliente.email" required>

      <label for="dni">DNI:</label>
      <input type="text" id="dni" [(ngModel)]="nuevoCliente.dni" required>

      <button type="submit">Añadir Cliente</button>
    </form>

    <h2>Listado de Clientes</h2>
    <ul *ngIf="clientes.length > 0">
      <li *ngFor="let cliente of clientes">
        {{ cliente.nombre }} {{ cliente.apellidos }} ({{ cliente.dni }})
      </li>
    </ul>
    <p *ngIf="clientes.length === 0">No hay clientes registrados.</p>
  </div>
 -->

 <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label>
    Nombre:
    <input type="text" formControlName="nombre">
  </label>
  <label>
    Apellidos:
    <input type="text" formControlName="apellidos">
  </label>
  <label>
    Teléfono:
    <input type="text" formControlName="telefono">
  </label>
  <label>
    Email:
    <input type="text" formControlName="email">
  </label>
  <label>
    DNI:
    <input type="text" formControlName="dni">
  </label>
  <button type="submit">Submit</button>
</form>
