 <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label>
    Nombre:
    <input type="text" formControlName="nombre">
  </label>
  <label>
    Apellidos:
    <input type="text" formControlName="apellidos">
  </label>
  <label>
    Teléfono:
    <input type="text" formControlName="telefono">
  </label>
  <label>
    Email:
    <input type="text" formControlName="email">
  </label>
  <label>
    DNI:
    <input type="text" formControlName="dni">
  </label>
  <button type="submit">Submit</button>
</form>

<ul>
  <li *ngFor="let dato of datosFirebase">
    {{ dato | json }}
  </li>
</ul>

<app-detalle-cliente></app-detalle-cliente>


